[inet_http_server]
port=127.0.0.1:9003
username=supervisorctl
password=supervisorctl
environment=PATH="%(here)s:$PATH"

[supervisorctl]
serverurl=http://127.0.0.1:9003
username=supervisorctl
password=supervisorctl
prompt=controller-{{ inventory_hostname }}

[supervisord]
logfile=%(here)s/log/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
pidfile=/var/run/supervisor/controller-{{ inventory_hostname }}.pid
loglevel=info
nodaemon=false
nocleanup=true

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program: kube-controller-manager]
command=./bin/kube-controller-manager
    --address=0.0.0.0
    --allocate-node-cidrs=true
    --use-service-account-credentials=true
    --cluster-cidr={{ CLUSTER_CIDR }}
    --cluster-name=kubernetes
    --log-dir=./log
    --port=10252
    --v=1
    --root-ca-file=./cert/ca/ca.pem
    --service-account-private-key-file=./cert/service_account/key.pem
    --kubeconfig=./kubeconfig.yml

numprocs=1
autostart=true
startretries=3
autorestart=unexpected
exitcodes=0,2

stdout_logfile=./log/controller-{{ inventory_hostname }}.stdout
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10

stderr_logfile=./log/controller-{{ inventory_hostname }}.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
