[inet_http_server]
port=127.0.0.1:9006
username=supervisorctl
password=supervisorctl
environment=PATH="%(here)s:$PATH"

[supervisorctl]
serverurl=http://127.0.0.1:9006
username=supervisorctl
password=supervisorctl
prompt=kubelet-{{ inventory_hostname }}

[supervisord]
logfile=%(here)s/log/supervisord.log
logfile_maxbytes=50MB
logfile_backups=10
pidfile=/var/run/supervisor/kubelet-{{ inventory_hostname }}.pid
loglevel=info
nodaemon=false
nocleanup=true

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program: kubelet]
command=./bin/kubelet
	--address=0.0.0.0
	--port=10250
	--tls-cert-file=./cert/kubelet/cert.pem
	--tls-private-key-file=./cert/kubelet/key.pem
	--hostname-override={{ inventory_hostname }}
	--node-ip={{ inventory_hostname }}
	--log-dir=./log
	--network-plugin=cni
	--cni-bin-dir={{ cni_install_path }}/bin
	--cni-conf-dir={{ cni_install_path }}/conf
	--v=1
	--client-ca-file=./cert/ca/ca.pem
	--kubeconfig=./kubeconfig.yml
	--fail-swap-on=false
	--pod-infra-container-image=googlecontainer/pause-amd64:3.0
	--kubelet-cgroups=/kubelet
	--cluster-domain=cluster.local
#	--cluster-dns={DNSSERVER}

numprocs=1
autostart=true
startretries=3
autorestart=unexpected
exitcodes=0,2

stdout_logfile=./log/kubelet-{{ inventory_hostname }}.stdout
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10

stderr_logfile=./log/kubelet-{{ inventory_hostname }}.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
