#!/bin/bash

if [[ "$OSTYPE" == "darwin"* ]];then
cat > kubeconfig-single.yml <<EOF
kind: Config
apiVersion: v1
preferences:
  colors: true

clusters:
- name: secure
  cluster:
    server: {{ APISERVER }}
    api-version: v1
    insecure-skip-tls-verify: false
    certificate-authority-data: `base64 ./cert/ca/ca.pem`

users:
- name: admin
  user:
    client-certificate-data: `base64 ./cert/apiserver-client/cert.pem`
    client-key-data: `base64 ./cert/apiserver-client/key.pem`

contexts:
- name: secure.admin.default
  context:
    cluster: secure
    user: admin
    namespace: default

current-context: secure.admin.default
EOF
else
cat > kubeconfig-single.yml <<EOF
kind: Config
apiVersion: v1
preferences:
  colors: true

clusters:
- name: secure
  cluster:
    server: {{ APISERVER }}
    api-version: v1
    insecure-skip-tls-verify: false
    certificate-authority-data: `base64 -w 0 ./cert/ca/ca.pem`

users:
- name: admin
  user:
    client-certificate-data: `base64 -w 0 ./cert/apiserver-client/cert.pem`
    client-key-data: `base64 -w 0 ./cert/apiserver-client/key.pem`

contexts:
- name: secure.admin.default
  context:
    cluster: secure
    user: admin
    namespace: default

current-context: secure.admin.default
EOF
fi
