kind: Config
apiVersion: v1
preferences:
  colors: true

clusters:
- name: secure
  cluster:
    server: {{ APISERVER }}
    api-version: v1
    insecure-skip-tls-verify: false
    certificate-authority: ./cert/ca/ca.pem

users:
- name: admin
  user:
    client-certificate: ./cert/apiserver-client/cert.pem
    client-key: ./cert/apiserver-client/key.pem

contexts:
- name: secure.admin.default
  context:
    cluster: secure
    user: admin
    namespace: default

current-context: secure.admin.default
