kind: Config
apiVersion: v1
preferences:
  colors: true

clusters:
- name: secure
  cluster:
    server: https://127.0.0.1
    api-version: v1
    insecure-skip-tls-verify: false
    certificate-authority: ./cert/ca/ca.pem

users:
- name: scheduler.local
  user:
    client-certificate: ./cert/apiserver-client/cert.pem
    client-key: ./cert/apiserver-client/key.pem

contexts:
- name: secure.scheduler.local.default
  context:
    cluster: secure
    user: scheduler.local
    namespace: default

current-context: secure.scheduler.local.default
