#- name: install package
#  pip:
#      name: "{{ item.name }}"
#      version: "{{ item.version }}"
#      state: present
#  with_items:
#      - { name: "pyOpenSSL", version: "16.0.0" }
#      - { name: "acme-tiny", version: "3.0.0" }

- name: create directory
  tags: dir
  file:
    path: "{{ item }}"
    state: directory
  with_items:      
    - "{{ log_path }}"
    - "{{ build_path }}"
    - "{{ ca_path }}"
    - "{{ etcd_certs_path }}"
    - "{{ etcd_client_certs_path }}"
    - "{{ etcd_server_certs_path }}"
    - "{{ etcd_peer_certs_path }}"
    - "{{ serviceAccount_path }}"
    - "{{ apiserver_client_certs_controller }}"
    - "{{ apiserver_client_certs_scheduler }}"
    - "{{ apiserver_client_certs_kubelet }}"
    - "{{ apiserver_client_certs_coredns }}"
    - "{{ apiserver_client_certs_kube_router }}"
    - "{{ apiserver_client_certs_user }}"
    - "{{ kubelet_client_certs_path }}"
    - "{{ kubelet_certs_path }}"

- import_tasks: ca.yml
- import_tasks: etcd_client_cert.yml
- import_tasks: etcd_server_cert.yml
- import_tasks: etcd_peer_cert.yml
- import_tasks: apiserver_cert.yml
- import_tasks: serviceAccount.yml
- import_tasks: kubelet_client_cert.yml
- import_tasks: kubelet_cert.yml
- import_tasks: apiserver_client_certs_controller.yml
- import_tasks: apiserver_client_certs_scheduler.yml
- import_tasks: apiserver_client_certs_kubelet.yml
- import_tasks: apiserver_client_certs_coredns.yml
- import_tasks: apiserver_client_certs_kube_router.yml
- import_tasks: apiserver_client_certs_user.yml
