[program: kube-router]
command={{ kuberouter_install_path }}/bin/kube-router
	--kubeconfig={{ kuberouter_install_path }}/kubeconfig.yml
	--enable-overlay=true
	--enable-pod-egress=true
	--run-firewall=true
	--run-router=true
	--run-service-proxy=true
	--hostname-override={{ inventory_hostname }}
numprocs=1
autostart=true
startretries=3
autorestart=unexpected
exitcodes=0,2

stdout_logfile={{ kuberouter_install_path }}/log/kuberouter-{{ inventory_hostname }}.stdout
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10

stderr_logfile={{ kuberouter_install_path }}/log/kuberouter-{{ inventory_hostname }}.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
